  name: Deploy to Koyeb

  on:
    push:
      branches:
        - main

  jobs:
    deploy:
      name: Deploy to Koyeb
      runs-on: ubuntu-22.04
      steps:
        - name: Check out the Git repository
          uses: actions/checkout@v4

        - name: Install Koyeb CLI
          run: |
            curl -fsSL https://raw.githubusercontent.com/koyeb/koyeb-cli/master/install.sh | sh
            echo "$HOME/.koyeb/bin" >> $GITHUB_PATH

        - name: Configure Koyeb CLI
          run: koyeb configure --token ${{ secrets.KOYEB_TOKEN }}

        - name: Build and Deploy to Koyeb
          run: |
            koyeb service update ${{ secrets.KOYEB_SERVICE_ID }} --docker ${{ secrets.DOCKER_IMAGE }} --port 8080